::ng-deep .mat-paginator-range-actions{
    float:left !important;
}
::ng-deep .mat-paginator-page-size{
    float:left !important;
 }
::ng-deep .mat-paginator-container{
 justify-content: center !important;
}
 .gray-row{
    background: #f2f2f2;
 }
 .action-container{
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .fixed-width-action-container{
    width:190px;
    display: flex;
 }
 button{
     vertical-align: 50%	;
     margin-left:20px;
     margin-top:40%;
     float: right;
    
 }
 span{
     margin-left:20px;
     margin-right:20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
     
 }
.content-container{
    text-align: center;
    min-height:calc(100vh - 290px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .teams-container{
        display: inline-block;
        width:75%;
        .team-container{
            width:100%; 
            padding:15px;
            display: flex;
            .team-icon-container{
                display:inline-block;
                width:20%;
                cursor:pointer;
                .team-icon{
                    width:100px;
                    height:100px;
                }
            }
            .team-content-container{
                display:flex;
                text-align: left;
                width:60%;
                .team-name{
                    font-size:200%;
                    
                }
            }   
        }
    }
    .paginator-container{
        display:flex;
        flex-grow: 1;
        flex-direction: column-reverse;
        margin-bottom: 20px;

    }

}