<div class='content-wrapper'>
    <div *ngIf="teamsProjects?.length>0" class='item-wrapper'>
      <h1 class='header mat-typography'>Project that your teams are working on:</h1>
      <div class='item-container' *ngFor='let project of teamsProjects;let i = index' [class.gray-background]="i%2==0">
      
        <div class='left-column-container'>
          <label>{{project.teamName}}</label>
        </div>

        <div class='right-column-container' >
          <h2  class='project-title'> <a [routerLink]="['/app/project-profile/'+project._id]">{{project.title}}</a></h2>
          <span class='project-deadline'>Deadline: {{project.deadline}}</span>
          <span class='project-description'>{{project.description}}</span>
          <span class='project-budget'>Budget: {{project.budget.value}}{{project.budget.currency}}</span>
        </div>
      </div>
    
    </div>

    <div *ngIf="userProjects?.length>0" class='item-wrapper'>
        <h1  class='mat-typography'>Project posted by you:</h1>
        <div class='item-container' *ngFor='let project of userProjects;let i = index' [class.gray-background]="i%2==0">
        
          <div class='right-column-container' >
            <h2  class='project-title'> <a [routerLink]="['/app/project-profile/'+project._id]">{{project?.title}}</a></h2>
            <span class='project-deadline'>Deadline: {{project?.deadline}}</span>
            <span class='project-description'>{{project?.description}}</span>
            <span class='project-budget'>Budget: {{project.budget?.value}}{{project.budget?.currency}}</span>
          </div>
          <div class='action-container'>
            <button [routerLink]="['/app/project-manage/'+project._id]"    mat-raised-button>Manage</button>
          </div>
      </div>
      </div>

      <div *ngIf="userProjects?.length===0&&teamsProjects?.length===0" class='item-wrapper'>
        <h1  class='mat-typography no-projects-information'>You don't have any projects.</h1>
      </div>

      <div class='add-project-container'>
        <button class='add-project-button' color=primary (click)='openAddNewProjectDialog()'  mat-raised-button>Add new project</button>
      </div>
    
</div>
