<div class='content-container'>
    
      <div class='item-container' *ngFor='let project of projects;let i = index' [class.gray-background]="i%2==0">
      
        <div class='left-column-container'>
            <mat-icon   svgIcon="project-icon"></mat-icon>
        </div>

        <div class='right-column-container' >
          <h2  class='project-title'> <a [routerLink]="['/app/project-profile/'+project._id]">{{project?.title}}</a></h2>
          <span class='project-deadline'>Deadline: {{project?.deadline}}</span>
          <span class='project-description'>{{project?.description}}</span>
          <span class='project-budget'>Budget: {{project.budget?.value}}{{project.budget?.currency}}</span>
        </div>
    </div>
   
    

  <div class='paginator-container'>
      <mat-paginator [length]="paginationProperties?.length"
      [pageSize]="paginationProperties?.pageSize"
      [pageSizeOptions]="paginationProperties?.pageSizeOptions"
      (page)='reloadProjectsList($event)'>
      </mat-paginator>
  </div>

</div>



  


