::ng-deep .mat-input-infix .mat-form-field-infix{
    width:400px !important;
} 
::ng-deep .mat-form-field-infix{
    width:400px !important;
}
::ng-deep .mat-dialog-actions{
    text-align: center !important;
} 

::ng-deep .mat-chip{
    margin-bottom:15px !important;
}
.mat-dialog-content{
    text-align:center;
}

.action-container{
    margin-top:20px;
    text-align: center;
}
.content-wrapper{
    margin:auto;
    
}
input{
    margin:auto;
    width:400px;
    text-align: center;
}
button{
    margin-right:10px;
    float:center;
}

.tech-container{
    margin:auto;
    width:100%;
    input{
        //text-align:left;   
        width:100%; 
        
    }
    
    
}

.description-container{
    width:100%;
    max-width:100%;
    display:flex;
    align-content: center;
    align-items: center;
}

textarea{
    text-align:left;
    max-height:580px;
    align-self: center;
    resize: vertical;
    border:solid;
    border-width: 0.2px;
    border-color:#dcdcdc;
    margin-bottom: 15px;
    width:100%;
    min-height:300px;
    max-height:60vh;
 }

