::ng-deep .mat-chip-list-wrapper{
  display:inline !important;
  
}

button{
  float:right;
  float:bottom;
  margin-right:52px;
}
.update-icon{
  float:right;
  margin-top:25px;
  margin-left:30px;
  cursor:pointer;
}
.edit-icon{
  float:right;
  vertical-align: top;
}
label{
  text-align: right;
  clear: both;
  float:left;
  font-weight:bold;
  width:200px;
  text-align: left;
}

.tech-label{
  text-align: right;
  clear: both;
  font-weight:bold;
  width:180px;
  text-align: left;
  display:inline-block
}

.chip-list-container{
 margin-right:50px;
margin-left: 200px;
  
}

.edit-icon{
  float:right;
  cursor:pointer;
}
.user-profile-element-container{
  margin-top:10px;
  margin-bottom:10px;
}

.user-profile-container {
  
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:auto;
    margin-top:30px;
    padding:auto;
    min-width:50%;
    max-width:1100px;
    min-width:700px;
    font-size:1.5em;
    .chip{
      margin-bottom:3px;
    }
  }


