<div class="user-profile-container "  >
<mat-divider></mat-divider>
  
<div class='user-profile-element-container mat-typography'>
    <label  class='mat-typography'>Title:</label>
    {{project?.title}}
    <mat-icon (click)='openUpdateFieldDialog("title","title")'   class='edit-icon'   svgIcon="update-icon" ></mat-icon>
</div>
<div class='user-profile-element-container mat-typography'>
  <label  class='mat-typography'>Description:</label>
  {{project?.description}}
  <mat-icon (click)='openUpdateFieldDialog("description", "description")'   class='edit-icon'   svgIcon="update-icon" ></mat-icon>
</div>
<div class='user-profile-element-container mat-typography'>
    <label  class='mat-typography'>Prefered technologies:</label>
    <mat-chip-list>
        <mat-chip color="primary" selected="true"  *ngFor='let tech of project?.technologies'>{{tech}}</mat-chip>
    </mat-chip-list>
    <mat-icon (click)='openUpdateFieldDialog("technologies", "technologies")'   class='edit-icon'   svgIcon="update-icon" ></mat-icon>
</div>
<div class='user-profile-element-container mat-typography'>
    <label  class='mat-typography'>Deadline:</label>
    {{project?.deadline}}
    <mat-icon (click)='openUpdateFieldDialog("deadline", "deadline")'   class='edit-icon'   svgIcon="update-icon" ></mat-icon>
</div>
<div class='user-profile-element-container mat-typography'>
    <span *ngIf='project?.budget?.value!=="to negotiation"' class='project-budget'>
        <label>Budget:</label>
        {{project?.budget?.value}} {{project?.budget?.currency}}
      </span>
      <span *ngIf='project?.budget?.value==="to negotiation"' class='project-budget'>
        <label>Budget:</label>
        {{project?.budget?.value}}
      </span>
    <mat-icon (click)='openUpdateFieldDialog("budget", "budget.value")'   class='edit-icon'   svgIcon="update-icon" ></mat-icon>
</div>
<div [ngSwitch]="project?.status" class='user-profile-element-container mat-typography'>
    <label  class='mat-typography'>Status:</label>
    <p *ngSwitchCase="'new'">Project is waiting on team assigment</p>
    <p *ngSwitchCase="'inProgres'">Realization of project is in progress</p>
    <p *ngSwitchCase="'finished'">Work on project is finished</p>
</div>
<div class='user-profile-element-container mat-typography'>
    <label  class='mat-typography'>Visable:</label>
    <mat-slide-toggle color=primary  class="mat-typography" [checked]="visabilityState" (click)="changeVisability()" >{{visabilityLabel}}</mat-slide-toggle>
    
</div>

  <mat-divider></mat-divider>

  <div class='remove-project-container'>
        <button class='remove-project-button' color=primary (click)='removeThisProject()'  mat-raised-button>Remove this project</button>
  </div>

  <div class='offers-container'>
        <h1 class='offers-header mat-typography'>Offers({{teamsOffers.length}})</h1>
        <div class='team-container' *ngFor='let teamOffer of teamsOffers;let i = index' [class.gray-row]="i%2===0">
            <div class='team-icon-container mat-typography'>
              <h1  class='team-name' [routerLink]="['/app/team-profile/'+teamOffer.team._id]">{{ teamOffer.team.name }} </h1>
            </div>
            <div class=offer-content-container >
               {{teamOffer.description}}
            </div>

            <div class=offer-action-container  [ngSwitch]="teamOffer.state">
                <div  *ngSwitchCase="'new'">
                    <button *ngIf='!(this.project.status==="inProgress")' class='remove-project-button' color=primary (click)='rejectOffer(teamOffer)'   mat-raised-button>Reject</button>
                    <button *ngIf='!(this.project.status==="inProgress")' class='remove-project-button' color=primary (click)='acceptOffer(teamOffer)'   mat-raised-button>Accept</button>
                </div>
                <div *ngSwitchCase="'accepted'">
                      <h1 class='mat-typography'>Accepted</h1>
                </div>
                <div *ngSwitchCase="'rejected'">
                        <h1 class='mat-typography'>Rejected</h1>
                </div>   
            </div>
        </div>
    </div>


</div>


