.content-container{
    width:90%;
    margin:auto;
    
    .user-container{
        margin:auto;
        width:80%;
        display:flex;
        flex-direction: row;
        max-height:110px;
        overflow: hidden;
    }
    .user-icon-container{
     display:flex;

    }
    .user-content-container{
        display:flex;
        flex-direction:column;
        .user-name{
            cursor: pointer;
            font-size:1.2em;
            font-weight:bold;
        }
    }
}
.user-icon{
    cursor: pointer;
    height: 100px;
    width: 100px;
}