<div class='main-container'>
    <ul class='toolbar-list'>
        <li class='toolbar-list-element main-logo-element'><mat-icon class='main-logo' svgIcon="logo"></mat-icon></li>
        <!-- <li class='toolbar-list-element'>Home</li> -->
        <li (click)="scroll('contact')" class='toolbar-list-element contact-link'>Contact</li>
        <li [routerLink]="['/app/projects']" class='toolbar-list-element application-link'> <span>Go to application</span><mat-icon svgIcon="next-icon"></mat-icon></li>
    </ul>
    
    <div class="slider gallery items-3">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        
        <figure class="item slide-1"></figure>
        <figure class="item slide-2"></figure>
        <figure class="item slide-3"></figure>
        
        <div class="controls">
            <div class='slide-label-1'>
                <p class='slider-paragraph'>
                    <span class='slider-text'>{{actualSliderText}}</span>
                    <span class='slider-switch'>
                            <a (click)='switchSlide(1)' href="#item-1" class="control-button">•</a>
                            <a (click)='switchSlide(2)' href="#item-2" class="control-button">•</a>
                            <a (click)='switchSlide(3)' href="#item-3" class="control-button">•</a>
                    </span>
                </p>    
            </div>
            <div class='marker-triangle'></div>
        </div>
    </div>
</div>

<div class='separator'></div>
<div class='separator'></div>

<div class='profits-cards'>
    <div class='card idea-card'>
        <div class='img-icon idea-bulb-img'></div>
        <p class='card-paragraph'>Everything revolves around your idea. Our task is to enable you to find the best people for its implementation.</p>
    </div>
    <div class=' card work-card'>
        <div class='img-icon worker-img'></div>
        <p class='card-paragraph'>If you are rather a individualist we certainly find suitable jobs for you according to your skills.</p>
    </div>

    <div class=' card team-card'>
        <div class='img-icon team-img'></div>
        <p class='card-paragraph'>We belive that you can organize work in an even more flexible way. We encourage you to set up a team to meet the bigger challenges.</p>
    </div>

</div>

<div class='separator'></div>

<div class='statistics-container'>
    <div class=' statistic-card users-statistic'>
        <p class='statistic-paragraph'>Number of users which trusted us:</p>
        <div class='circle'>
            {{usersNumber}}
        </div>
    </div>
    <div class=' statistic-card teams-statistic'>
        <p class='statistic-paragraph'>Number of teams created by users:</p>
        <div class='circle'>
            {{teamsNumber}}
        </div>
    </div>
    <div class='statistic-card projects-statistic'>
        <p class='statistic-paragraph'>Number of users who entrusted us with their projects:</p>
        <div class='circle'>
            {{projectsNumber}}
        </div>
    </div>
</div>

<div class='separator'></div>
<div class='separator'></div>

<div id='contact' class='contact-container'>
    <p class='contact-paragraph'>If you have question you can send mesage to us. If you do't have any questions you can move to the aplicaton by the link on the top. </p>
    <form class='form-container' [formGroup]='messageForm' (ngSubmit)='sendEmail()'>
        <mat-form-field >
            <input formControlName="userEmail" matInput placeholder="Your email">
        </mat-form-field>
        <mat-form-field >
            <textarea formControlName="message" matInput placeholder="Your mesage"></textarea>
        </mat-form-field>
        <button  color=primary mat-stroked-button type="submit">Send</button>
    </form>        
</div>

<div class='footer'>
    <div class='author-container'>
        <p class='email-paragraph'>
            <mat-icon svgIcon="email-icon"></mat-icon>
            arkadiusz.sapek@gmail.com
        </p>
        <p class='email-paragraph'>
            <mat-icon svgIcon="location-icon"></mat-icon>
            Katowice, Polska
        </p>
    </div>
    <p class='cookies-paragraph'>This website uses cookies to give you the best, most revelant experience. If you continue without chanching your settings, we will assume that you are happy to receive all cookies on this website. You can chage which cookies are set at any time.</p>
</div>





