::ng-deep mat-card{
    padding:0px !important;
    padding-bottom: 0px !important; 
}

mat-icon{
    width:110px;
    height:110px;
}
::ng-deep mat-paginator{
    *{
        align-self: center !important;
        justify-content: center !important;
    }
   
}
.mat-form-field-infix {
    width: 200px !important;
}
.gray-background{
    background: #f2f2f2;
}

.main-container{
    display:flex;
    flex-direction: row;
    min-height:calc(100vh - 300px);
    .sidebar-container{
        max-width:300px;
        flex-grow: 0.15;
        margin:10px;
        margin-top: 58px;
        text-align: center;
        .search-field{
            width: 258px;
            padding-left:0px;
        }    
        .filter-button{
            width:100%;
        }
        .sidebar-header{
            text-align: center;
        }
    }
    .content-container{
        flex-grow:0.75;
        width:60%;
        display: flex;
        flex-direction: column;
        .no-users-info{
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        .sort-container{
            text-align: right;
            .sort-field{
                max-width:180px;
            }
        }
        .users-wrapper{
            min-height:calc(100vh - 300px);
        }
    .user-container{
        display:flex;
        flex-direction: row;
        height:200px;
        overflow: hidden;
        
    }
    .user-icon-container{
     
     display:flex;
     padding:15px;
     width:20%;
     justify-content: center;
     align-items: center;
    }
    .user-content-container{
        width:80%;
        display:flex;
        flex-direction:column;
        .field-span{
            label{
                font-weight:bold;
            }
        }
        .name-header-field{
            margin-bottom:4px;
            margin-top:8px
        }
        .registred-field{
            margin-bottom: 10px;

        }
        .description-field{
            overflow:hidden;
            max-height: 65px;
            margin-top:16px;
            margin-bottom:10px;
           .description-paragraph{
            overflow: hidden;
            max-height: 60px;
           }
        }
        .technologies-field{
            max-height:32px;
            overflow: hidden;
            margin-top: auto;
            margin-bottom: 10px;
        }
    }
    }
   
}


.paginator-container{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-self: center !important;
    justify-content: center !important;
}

.gray-background{
    background: #f2f2f2;
}
//link animation

h2 > a {
    font-weight: normal;

    position: relative;
    color: #3949ab;
    text-decoration: none;
  }
  
  h2 > a:hover {
    color: #3949ab;
    font-weight: normal;

  }
  h2 > a:before {
    font-weight: normal;

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3949ab;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
  }
  h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }